body {
  padding: 50px;
  background-color: #78D6C6;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.main .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: max-content;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.main .header input:focus {
  box-shadow: 0 0 10px 2px #12486B;
}

.main .header button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 1vw;
}

.main .header button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main .header button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.main .taskList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

.main .taskList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  transition: background-color .2s ease-out;
}

.main .taskList li:hover {
  background-color: #ffcccc;
  cursor: pointer;
}

.taskManagerHeading {
  text-align: center;
  margin-bottom: 20px;
}
.taskManagerHeading h1 {
  color: #333;
}
